DB=sqlite:///data/we_mp_rss.db
USERNAME=replace-with-random-admin-name
PASSWORD=replace-with-random-password
SECRET_KEY=replace-with-random-secret
ENABLE_JOB=False
THREADS=1
PORT=8001
DEBUG=False
HEADLESS=true
ENABLE_XVFB=false
REDIS_SERVER_ENABLED=False
REDIS_URL=
GATHER.CONTENT=True
GATHER.MODEL=weread_mp
GATHER.CONTENT_AUTO_CHECK=False
GATHER.CONTENT_MODE=web
GATHER.CLEAN_HTML=False
MAX_PAGE=1
SPAN_INTERVAL=10
RSS_FULL_CONTEXT=True
RSS_LOCAL=False
RSS_PAGE_SIZE=30
BROWSER_TYPE=webkit
WEREAD_AUTO_ADD_TO_SHELF=true
